/*Colors*/
$grey: #404040;
$green:#226746;
$yellow:#f8bd4e;


/*OLD-COLORS*/
$grey-light: #f8f8f8;
$blue-dark:#164666;
$green-basic:#2ecc71;
$greyish-brown:#4a4a4a;
$dark-sky-blue:#4a90e2;
$white-three:#f3f3f3;
$pinkish-grey:#bebebe;
$gold:#c2973c;

/*BG*/
$bg-basic:rgba(73, 92, 95, .45);
$bg-dark:rgba(0, 0, 0, .35);


/*Sizes*/
$margin-ok:40px;

$font-size-h1:35px;
$font-size-h2: round($font-size-h1*0.875);
$font-size-h3: round($font-size-h1*0.6875);
$font-size-h4: round($font-size-h1*0.5);
$font-size-base:14px;

/*Wrappers*/
$wrapper-width: 1200px;
$wrapper-padding:15px;
$wrapper-width-correct:$wrapper-width - $wrapper-padding;
$wrapper-margin:20px;