/*VARIABLES*/
$resolution-mobile:640px;
$wrapper-width-mobile:350px;
$resolution-tablet:980px;
$wrapper-width-tablet:620px;

/*TABLET*/
@media (max-width: $resolution-tablet)
{
    body{

        /*COMMON*/

        .col-m-0 {
          width: 0%;
        }
        .col-m-1 {
          width: 8.33333333%;
        }
        .col-m-2 {
          width: 16.66666667%;
        }
        .col-m-3 {
          width: 25%;
        }
        .col-m-4 {
          width: 33.33333333%;
        }
        .col-m-5 {
          width: 41.66666667%;
        }
        .col-m-6 {
          width: 50%;
        }
        .col-m-7 {
          width: 58.33333333%;
        }
        .col-m-8 {
          width: 66.66666667%;
        }
        .col-m-9 {
          width: 75%;
        }
        .col-m-10 {
          width: 83.33333333%;
        }
        .col-m-11 {
          width: 91.66666667%;
        }
        .col-m-12 {
          width: 100%;
        }

        .wrapper
        {
            width:  $wrapper-width-tablet;
        }

        header{
            min-width: $wrapper-width-tablet;
            .wrapper{
                position: relative;
            }

            .logo{
                position: relative;
                padding-right: 80px;
                &:before {
                    content: "";
                    position: absolute;
                    top: -50px;
                    transform: rotate(20deg);
                    display: inline-block;
                    vertical-align: middle;
                    width: 3px;
                    height: 120px;
                    background-color: #226746;
                    left: -25px;
                    top: -5px;
                    box-shadow: 3px 0 4px 0 rgba(0,0,0,.5);
                }
            }
            nav{
                vertical-align: top;
                padding-top: 20px;
                &:before{
                    display: none;
                }
                &:after{
                    top: 0;
                    right: -100px;
                }

                ul {
                    margin: 0;
                }

            }

            .order{
                float: none;
                position: absolute;
                left: 320px;
                top: 50px;
                color: $yellow;
                line-height: 20px;
                .btn{
                    display: none;
                }
            }
        }

        .hero{
            min-width: $wrapper-width-tablet;
            text-align: center;
            padding-top: 120px;
            &__title{
                width: auto;
            }
            &__legend{
                width: auto;
            }
            &__order-txt{
                width: auto;
            }
        }

        .about{
            min-width: $wrapper-width-tablet;
            padding-top: 120px;
        }

        .events{
            min-width: $wrapper-width-tablet;
            height: 550px;
            min-height: 550px;
            .line [class^=col-]{
                padding: 0;
            }

             &__img{
                width: 600px;
                position: absolute;
                top: 100px;
                left: 55%;
            }



            .tuti-wrapper{
                height: 500px;
                 &__content{

                   transform: rotate(-3deg);
                   position: absolute;
                   top: 150px;
                   left: 70%;
                }
            }
        }

        .offer{
            min-width: $wrapper-width-tablet;
            padding-top: 80px;
            background-image: url(../img/table-shadow.png);
            background-size: cover;
            &__list{
                li{
                    width: 100%;
                }
            }
            .wrapper{
                background-image:none;
            }

            &:after{
                bottom: -230px;
                left: 300px;
                transform: rotate(30deg);
            }
        }

        .form-order{
            min-width: $wrapper-width-tablet;

            &:after{
                height: 500px;
            }
        }

        .tournament{
            min-width: $wrapper-width-tablet;
            top: -100px;
        }

        .advantages{
            min-width: $wrapper-width-tablet;
            background-image: url(../img/table-shadow.png);
            background-size: cover;
            .right-block{
                margin-left: 0;
                text-align: center;
                ul{
                    padding-top: 50px;
                }
            }

            .wrapper:after{
                background-image: none;
                display: none;
            }

            .btn-trans--advantages {
                   margin-bottom: 50px;
            }
        }

        .map{
            min-width: $wrapper-width-tablet;
            &__contacts{
                padding: 20px 20px 15px 10px;
                width: auto;
                height: auto;
                min-height: 0;
            }
        }

        .price{
            .btn{
                margin-bottom: 30px;
            }
            &__item{
                &-title{
                    font-size: 20px;
                }
            }
        }

        .footer{
            min-width: $wrapper-width-tablet;
            ul li{
                margin: 0 2px;
            }
        }

        .popup__body--slider{
            width: 600px;
        }

        .popup__body--tournament{
            width: 600px;
             padding: 20px 20px 15px 10px;
             height: auto;

            .tournament-list li:before{
                display: none;
            }

            form{
                text-align: center;

                span{
                    input{
                        margin: 20px 25px;
                    }
                }
            }
        }
    }
}

@media (max-width: $resolution-mobile)
{
    body
    {
        .line{
            margin: 0;
        }

        .col-s-1 {
          width: 0%;
        }
        .col-s-1 {
          width: 8.33333333%;
        }
        .col-s-2 {
          width: 16.66666667%;
        }
        .col-s-3 {
          width: 25%;
        }
        .col-s-4 {
          width: 33.33333333%;
        }
        .col-s-5 {
          width: 41.66666667%;
        }
        .col-s-6 {
          width: 50%;
        }
        .col-s-7 {
          width: 58.33333333%;
        }
        .col-s-8 {
          width: 66.66666667%;
        }
        .col-s-9 {
          width: 75%;
        }
        .col-s-10 {
          width: 83.33333333%;
        }
        .col-s-11 {
          width: 91.66666667%;
        }
        .col-s-12 {
          width: 100%;
        }

        .wrapper
        {
            width:  $wrapper-width-mobile;
        }

        .title{
            font-size: 26px;
            &:before{
                display: block;
                margin: 0 auto;
                margin-bottom: 25px;
            }

            &--offer{
                margin-bottom: 20px;
            }
        }

        .txt{
            width: auto;
            font-size: 18px;
        }

        header{
            min-width: $wrapper-width-mobile;
            .wrapper{
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    top: -50px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 3px;
                    height: 120px;
                    background-color: #226746;
                    left: 0;
                    top: -5px;
                    box-shadow: 3px 0 4px 0 rgba(0,0,0,.5);
                }

                &:after{
                    top: 0;
                    right: 0;
                    transform:rotate(0deg);
                     content: "";
                    position: absolute;
                    display: inline-block;
                    vertical-align: middle;
                    width: 3px;
                    height: 120px;
                    background-color: #226746;
                    box-shadow: -3px 0 4px 0 rgba(0,0,0,.5);
                }
            }
            .logo{
                position: relative;
                padding-right: 20px;
                padding-left: 20px;

            }
            nav{
                vertical-align: top;
                padding-top: 0;

                &:before{
                    display: none;
                }
                &:after{
                    display: none;
                    top: 0;
                    right: -25px;
                    transform:rotate(0deg);
                }

                ul {
                    margin: 0;
                }

                li{
                    display: block;
                    margin: 10px;
                    a{
                        font-size: 14px;
                    }
                }
            }

            .order{
                float: none;
                position: absolute;
                left: 62px;
                top: 67px;
                color: $yellow;
                line-height: 20px;

                &__tel{
                    font-size: 14px;

                    &:before{
                        width: 15px;
                        height: 15px;
                        left: -25px;
                        top: 7px;
                    }
                }

                .btn{
                    display: none;
                }
            }
        }

        .hero{
            min-width: $wrapper-width-mobile;
            text-align: center;
            padding-top: 60px;
            min-height: 520px;
            &__title{
                width: auto;
                font-size: 22px;
            }
            &__legend{
                width: auto;
                font-size: 18px;
                margin-bottom: 50px;
            }
            &__order-txt{
                width: auto;
                font-size: 18px;
            }
        }

        .about{
            min-width: $wrapper-width-mobile;
            padding-top: 60px;
            text-align: center;
            .txt{
                margin-bottom: 50px;
            }
            &:after{
                display: none;
            }

        }

        .events{
            min-width: $wrapper-width-mobile;
            text-align: center;
            padding-top: 60px;
            min-height: 500px;
            .line [class^=col-]{
                padding: 0;
            }
            &:after{
                display: none;
            }

             &__img{
                display: none;
            }
            .txt--events{
                width: 377px;
            }


            .tuti-wrapper{
                top: 5%;
                left: -5%;
                width: 110%;
                height: 450px;
                transform: rotate(4deg);
                background-color: #226746;
                background: linear-gradient(90deg,#226746,#47a07c);
                overflow: hidden;

                 &__content{
                   transform: rotate(-4deg);
                    position: absolute;
                    top: 40px;
                    left: 0%;
                    right: 0;
                    margin: 0 auto;
                    width: 400px;

                    .txt{
                            margin: 0 auto 30px auto;
                            width: 310px;
                    }
                }
            }
        }

        .offer{
            min-width:$wrapper-width-mobile;
            padding-top: 0;
            background-image: url(../img/table-shadow.png);
            background-size: cover;
            text-align: center;

            &__list{
                li{
                    width: 100%;
                    margin-bottom: 30px;
                }
                p{
                    width: auto;
                    font-size: 18px;
                }
            }
            .wrapper{
                background-image:none;
            }
            &:before{
                display: none;
            }

            &:after{
                display: none;
            }

            .txt{
                &--offer{
                    margin-bottom: 30px;
                    &:after{
                        display:none;
                    }
                }
            }
        }

        .form-order{
            min-width:$wrapper-width-mobile;

            &:after{
                height: 600px;
            }

            &__txt{
                width: auto;
            }

            input{
                margin-bottom: 20px;
            }
            button{
                margin-bottom: 30px;
            }
        }

        .tournament{
            min-width: $wrapper-width-mobile;
            top: -140px;
            text-align: center;
            padding-top: 0;
            min-height: 800px;

            &__txt{
                width: auto;
                font-size: 18px;
            }

            &:after{
                 display:none;
            }
        }

        .advantages{
            min-width: $wrapper-width-mobile;
            background-image: url(../img/table-shadow.png);
            background-size: cover;
            overflow: hidden;
            .right-block{
                margin-left: 0;
                text-align: center;
                ul{
                    padding-top: 50px;
                }
            }

            &__title{
                font-size: 20px;
            }

            &__txt{
                font-size: 18px;
            }

            .wrapper
            {
                margin-top: 0;
                &:after{
                    background-image: none;
                    display: none;
                }
            }


            .btn-trans--advantages {
                   margin-bottom: 50px;
            }
        }

        .map{
            min-width: $wrapper-width-mobile;
            &__contacts{
                padding: 20px 20px 15px 10px;
                width: auto;
                height: auto;
                min-height: 0;
                p{
                    font-size: 18px;
                }
                .title{
                    &--map{
                        margin-bottom: 0;
                        &:before{
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 20px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .price{
            .btn{
                margin-bottom: 30px;
            }
            &__item{
                &-title{
                    font-size: 20px;
                }
            }
        }

        .footer{
            min-width: $wrapper-width-mobile;
            .logo{
                line-height: 80px;
            }
            ul li{
                margin: 0 2px;
                width: 30px;

                a{
                    line-height: 80px;
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
            .btn-wrap{
                float: none;
                line-height: 80px;
            }
        }

        .popup__body--slider{
            width: 400px;
            min-height: 300px;
            height: 300px;
            .slider{
                &__img{
                    height: 250px;
                    margin-bottom: 10px;
                }
            }
            .owl-nav{
                .owl-prev{
                    top: 100px;
                    width: 30px;
                    height: 100px;
                }
                .owl-next{
                    top: 100px;
                    width: 30px;
                    height: 100px;
                }
            }
        }

        .popup__body--tournament{
             width: 360px;
             padding: 20px 20px 15px 10px;
             height: auto;
             .popup__title{
                font-size: 20px;
                font-weight: bold;
             }

             .popup__txt{
                text-align: justify;
             }

            .tournament-list {
                display: none;
                margin-bottom: 10px;
                text-align: center;
                li
                {
                    width: 50%;
                    &:before{
                        display: none;
                    }
                }


            }
            form{
                text-align: center;

                span{
                    input{
                        margin: 10px;
                    }
                }
            }
        }
    }
}


@media (min-width: 2350px){
    body
    {
        .advantages{
            background: none;
        }
    }
}