.btn{
    display: inline-block;
    vertical-align: middle;
    line-height: 56px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    width: 208px;
    height: 56px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    letter-spacing: 0.5px;
    background-color: $yellow;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition:all 0.5s;
    &:hover{
         background-color: #cf8d3a;
    }
}

.btn-trans{
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 19px 21px;
  font-size: 20px;
  font-weight: 600;
  color: #f4a73e;
  border: 2px solid  $yellow;
  border-radius: 130px;
  border-image-slice: 1;
  cursor: pointer;
   transition:all 0.5s;
    &:hover{
      background-color:$yellow;
       color:  #fff;
    }
    &--advantages{
      margin-bottom: 250px;
    }
}


.btn-green{
    display: inline-block;
    vertical-align: middle;
    width: 208px;
    line-height: 56px;
    border-radius: 130px;
    background-color:  #47a07c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.4px;
    color: #fff;
    cursor: pointer;
    transition:all 0.5s;
    &:hover{
      background-color: #226746;
    }
  }

  .btn-wrap{
    overflow: hidden;
    float: right;
    line-height: 100px;
}