.form-order{
    position: relative;
    z-index: 2;
    min-height: 540px;
    min-width: $wrapper-width;
    padding-top: 150px;
    text-align: center;
    background-size: 90%;
    background-repeat: no-repeat;
    overflow: hidden;

    &:after{
        content: "";
        top: 100px;
        left: -20%;
        position: absolute;
        z-index: -1;
        display: block;
        width: 200%;
        height: 400px;
        transform: rotate(2.0deg);
        background-color: #226746;
        background: linear-gradient(90deg,#226746,#47a07c);
    }

    &__title{
        font-size: 36px;
        font-weight: normal;
        line-height: 0.81;
        color: #fff;
        margin-bottom: 40px;
    }

    &__txt{
        margin: 0 auto;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.3;
        color: #fff;
        margin-bottom: 40px;
        width: 610px;
    }

    input{
         display: inline-block;
         vertical-align: top;
         padding:18px 23px ;
         margin:0 30px;
         margin-bottom: 10px;
         width: 208px;
         height: 56px;
         outline: none;
         font-size: 16px;
         color: #7f7f7f;
         border-radius: 130px;
         border: none;
         background-color: #fff;
         box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);

         &:focus{
            border: solid 1px #f4a73e;
         }
     }

     button{
        display: inline-block;
        vertical-align: top;
        border: none;
        cursor: pointer;
        margin:0 30px;
     }

    form div.wpcf7-validation-errors{
        color: $dark-sky-blue;
    }
}


.feedback-form{

    min-height: 370px;
    padding: 50px 0;
    font-size: 0;
    @mixin clearfix;

    &__head{
        @mixin clearfix;
        margin-bottom: 20px;

        span{
             &:first-child{
            float: left;
        }
            &:last-child{
                float: right;
            }
        }
    }



    input{
         display: inline-block;
         vertical-align: middle;
          /*width: 48%; убрано из-за совместимости с wp cf7*/
         width: 430px;
         height: 56px;
         border-radius: 100px;
         border: solid 1px $pinkish-grey;
         padding-left: 31px;
         outline: none;
         font-size: 18px;
         background: rgba(144, 144, 144, 0.075);
         border-radius: 4px;
         border: none;
         border: solid 1px rgba(144, 144, 144, 0.25);
         color: inherit;
         outline: 0;
         text-decoration: none;
          &:focus{
            border: solid 1px #f4a73e;
         }
    }

    button{
        float: right;
        letter-spacing: 0.2em;
        &:hover{
            letter-spacing: .2em;
        }
    }

    input[type=radio]{
        cursor: pointer;
        height: 20px;
        background: none;

    }

    label{
         /*width: 20%; убрано для совместимости с wp cf7*/
        display: inline-block;
        vertical-align: middle;
        font-size:18px;
        color: $pinkish-grey;
        margin-bottom: 20px;
    }

    textarea{
        background: rgba(144, 144, 144, 0.075);
        border-radius: 4px;
        border: none;
        border: solid 1px rgba(144, 144, 144, 0.25);
        color: inherit;
        display: block;
        outline: 0;
        padding: 20px;
        text-decoration: none;
        min-height: 200px;
        width: 100%;
        font-size:18px;
        margin-bottom: 20px;
    }



}

input:checked + span{
            color: $dark-sky-blue;
        }

form{
    p{
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
    span.wpcf5-not-valid-tip{
        color: #fff;
    }
    div.wpcf7-response-output {
        margin: 0;
        color: #fff;
    }
    div.wpcf7-validation-errors {
        border: 2px solid  $dark-sky-blue;
    }
    span{
        display: inline-block;
        vertical-align: middle;
    }
    .wpcf7-form-control-wrap{
        width: 100%;
    }


    input{
        margin: 0 auto;
    }
    .text-613{
        width: auto;
    }
    .tel-845{
        width: auto;
    }
}

#wpcf7-f243-o1{
    .wpcf7-response-output{
        color:$dark-sky-blue;
    }
}

#wpcf7-f295-o1{
    .wpcf7-radio{
        width: 100%;
        text-align: center;
    }

    span.wpcf7-list-item{
        width: 20%;
    }

    .text-288{
        float: left;
        width: 48%;
    }
    .text-61{
        float: right;
        width: 48%;
    }

    .wpcf7-response-output{
        font-size: 13px;
        color:$dark-sky-blue;
        width: 50%;
    }
}

#form-order{
  form{
    .wpcf7-form-control-wrap{
        width: auto;
    }
    .wpcf7-not-valid-tip{
      display: none;
    }
    .wpcf7-response-output{
      color: #fff;
    }
  }
  .screen-reader-response{
    display: none;
  }
}



