.sub-title{
    text-align: center;
    margin-bottom: 50px;
    h2{
        margin: 5px 0 0 0;
    }
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.title{
  font-size: 36px;
  line-height: 1;
  color: $grey;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 19px;
  &--about{
    &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 48px;
        height: 65px;
        margin-right: 27px;
        background-image: url("../img/title-about.svg");
    }
  }

  &--events{
    color: #fff;
    &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 73px;
        height: 48px;
        margin-right: 27px;
        background-image: url("../img/title-events.svg");
    }
  }

  &--offer{

    margin-bottom: 5px;
    &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 15px;
        width: 67px;
        height: 67px;
        margin-right: 27px;
        background-image: url("../img/title-offer.svg");
    }


  }

  &--tournament{
    color: #fff;
    &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 62px;
        margin-right: 27px;
        background-image: url("../img/title-trophy.svg");
    }
  }

  &--map{
    &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 37px;
        height: 47px;
        margin-right: 27px;
        background-image: url("../img/book.svg");
    }
  }

}

.txt{
  font-size: 20px;
  width: 470px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  color: $grey;

  &--events{
    color: #fff;
    margin-bottom: 29px;
  }

  &--offer{
    position: relative;
    margin-bottom: 115px;

    &:after{
        content: "";
        position: relative;
        z-index: 1;
        display: block;
        width: 100px;
        height: 240px;
        transform: scale(-1, 1);
        position: absolute;
        right: -20%;
        bottom: -90%;
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
    }
  }
}


.ovh{
  overflow: hidden;
}

.tel{
  color: #fff;
}
