.about{
    position: relative;
    padding-top: 175px;
    min-height: 600px;
    min-width: $wrapper-width;

    &__img{
        img{
          width: 100%;
        }
    }

    &:after{
        content: "";
        position: relative;
        z-index: 1;
        display: block;
        width: 100px;
        height: 240px;
        transform: scale(-1, 1);
        position: absolute;
        left: 40%;
        bottom: -10%;
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
    }
}