.advantages{
    min-width: $wrapper-width;

    background-image: url("../img/kiker-girl.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:0 100%;

    .wrapper{
        margin-top: 120px;
        position: relative;
        &:after{
            content: "";
            display: block;
            position: absolute;
            z-index: -1;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            background-image: url("../img/table-shadow.png");
            background-size: cover;
        }
    }

    &__title{
        display: block;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        color: $grey;
        margin-bottom: 8px;

        &:before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            margin-right: 17px;
            background-image: url("../img/check.png");
            background-repeat: no-repeat;
        }
    }

    &__txt{
        font-size: 20px;
        line-height: 1.4;
        color: $grey;
        margin-bottom: 60px;
    }
}