.events{
    position: relative;
    padding-top: 250px;
    min-height: 800px;
    min-width: $wrapper-width;
    overflow: hidden;
    /*
        background-image: url("../img/table-alex.png");
        background-size: cover;
    */



    &__img{
        width: 800px;
        position: absolute;
        top: 100px;
        left: 60%;
    }
}

.tuti-wrapper{
    top: 0;
    left: -105%;
    position: absolute;
    width: 210%;
    height: 700px;
    transform: rotate(3deg);
    background-color: #226746;
    background: linear-gradient(90deg,#226746,#47a07c);
    overflow: hidden;

    &__content{

       transform: rotate(-3deg);
       position: absolute;
       top: 150px;
       left: 75%;
    }
}
