.footer
{
    min-width: $wrapper-width;
    min-height: 100px;
    background-color: $grey;
    text-align: center;
    overflow: hidden;

    .logo{
        float: left;
        line-height: 100px;
        img{
            vertical-align: middle;
        }
    }

    ul{
        display: inline-block;
        vertical-align: middle;
        li{

            display: inline-block;
            vertical-align: middle;
            margin: 0 24px;
            a{
                display: inline-block;
                line-height: 100px;
                transition:all 0.5s;
                img{
                    vertical-align: middle;
                }
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}