header
{
    z-index: 1;
    position: relative;
    min-width: $wrapper-width;
    background-color: $green;
    height: 100px;
    overflow: hidden;
    color: #fff;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
    .logo{
        display: inline-block;
        vertical-align: middle;
        padding: 24px 40px 24px 0;
        img{
          width: 146px;
          height: 46px;
        }
    }

    nav{
      display: inline-block;
      vertical-align: middle;
      position: relative;
       &:before{
          content: "";
          position: absolute;
          left: 0px;
          top: -50px;
          transform: rotate(20deg);
          box-shadow: 5px 0 5px #000;
          box-shadow: 3px 0 4px 0 rgba(0, 0, 0, 0.5);
          display: inline-block;
          vertical-align: middle;
          width: 3px;
          height: 120px;
          background-color: $green;
        }

        &:after{
          content: "";
          position: absolute;
          right: 0px;
          top: -50px;
          transform: rotate(20deg);
          box-shadow: -1px 0 1px #000;
          box-shadow: -3px 0 4px 0 rgba(0, 0, 0, 0.5);
          display: inline-block;
          vertical-align: middle;
          width: 3px;
          height: 120px;
          background-color: $green;
        }

      ul{
        margin: 0;
        padding: 0;
        margin:0 76px;
      }

      li{
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;

        a{
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 1px;
          color: #fff;
          font-weight: 600;
          transition: all 0.4s;
          &:hover{
            color:$yellow;
          }
        }
      }
    }

    .order{
        float: right;
        line-height: 100px;

        &__tel{
          display: inline-block;
          vertical-align: middle;
          position: relative;
          line-height: 25px;
          font-size: 20px;
          margin-right: 25px;
          font-weight: 600;
          color: #fff;

          &:before{
            content: "";
            position: absolute;
            left: -55px;
            top: 0;
            display: inline-block;
            vertical-align: middle;
            width: 31px;
            height: 30px;
            background-size: cover;
            background-image: url(../img/phone.svg);
          }

          &:hover{
            &:before{
                animation: tada 2s;
            }
          }
        }
    }
}