.hero{
    position: relative;
    min-height:  700px;
    min-width: $wrapper-width;
    background-image: url("../img/hero_bg.png");
    background-size: cover;
    padding-top: 150px;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url("../img/hero_fill.svg");
    }

    &__title{
          position: relative;
          z-index: 1;
          font-size: 54px;
          font-weight: 600;
          line-height: 1.07;
          width: 1050px;
          color: #ffffff;
          margin-bottom: 33px;
    }

    &__legend{
        position: relative;
        z-index: 1;
        font-size: 20px;
        line-height: 1.3;
        color: #ffffff;
        width: 500px;
        margin-bottom: 93px;
    }

    &__order-txt{
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.25;
        color: #ffffff;
        width: 200px;
        &:last-of-type{
            margin-bottom: 23px;
        }
    }
}