.map{
    min-height: 540px;
    /*padding: 60px 0;*/
    position: relative;

    .wrapper{
        position: relative;
    }


    &__contacts{
        position: absolute;
        left: 0;
        top: -480px;
        min-height: 420px;
        width: 570px;
        padding: 65px 65px 50px 40px;
        background-color: #fff;
        background-image: url("../img/people.png");
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: 80px 120px;
        box-shadow: -2px 2px 5px rgba(0,0,0,0.5);

        span{
            display: block;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.5;
            color: $grey;
            margin-bottom: 5px;
        }

        p{
            display: block;
            font-size: 20px;
            line-height: 1.8;
            color: $grey;

        }
    }

    #google-map{
        min-height: 540px;
    }
}