.offer{
    position: relative;
    padding-top: 150px;
    min-height: 800px;
    min-width: $wrapper-width;


    &:before{

            content: "";
            position: relative;
            z-index: 1;
            display: block;
            width: 100px;
            height: 240px;
            position: absolute;
            left: 10%;
            top: -15%;
            background-image: url("../img/arrow.svg");
            background-repeat: no-repeat;

    }
/*
    &:after{
        content: "";
        position: relative;
        z-index: 3;
        display: block;
        width: 220px;
        height: 350px;
        position: absolute;
        left: 22%;
        bottom: -35%;
        background-image: url("../img/arrow-txt.svg");
        background-repeat: no-repeat;
    }
*/
    .wrapper{
        background-image: url("../img/table-shadow.png");
        background-size: cover;
    }

    &__list{
        font-size: 0;
        li{
            display: inline-block;
            vertical-align: top;
            width: 50%;
            margin-bottom: 71px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
            font-size: 24px;
            font-weight: 600;
            color: $grey;
            margin-bottom: 11px;
            &:before{
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 42px;
                height: 42px;
                margin-right: 20px;
                background-image: url("../img/ok.svg");
            }
        }
        p{
            font-size: 20px;
            width: 530px;
            color: #404040;
        }
    }
}