.popup{
    display:none;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.7);
    overflow: hidden;
    z-index: 3;/*должно быть 10 но оптимизатор тупит*/

    &__body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 371px;
        min-height: 490px;
        text-align: center;
        background-color: #fff;
        padding: 60px 40px 80px 40px;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);

        &--thanks{
            padding-top: 200px;
        }

        &--slider{
            width: 970px;
            height: 560px;
            overflow: hidden;
            padding: 0;


        }

        &--tournament{
            width: 970px;
            height: 560px;
            padding: 87px 120px 0 113px;
            text-align: left;

            form{
                span{
                    display: inline-block;
                    vertical-align: top;

                    input{
                        margin-right: 50px;
                    }
                 }

                 button{
                    display: inline-block;
                    vertical-align: top;
                 }
            }


            .popup__txt{
                width: 100%;
                margin-bottom: 24px;
            }

            .popup__title{
                font-size: 36px;
                line-height: 1;
                margin-bottom: 24px;
                font-weight: normal;
            }

        }
    }

    &__title{
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        color: $grey;
        margin-bottom: 10px;
    }

    &__txt{
        width: 250px;
        margin: 0 auto 36px auto;
        color: $grey;
        font-size: 16px;

        &--thanks{
            width: 200px;
        }
    }

    &__close{
        position: absolute;
        top:20px;
        right: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-image: url("../img/close.svg");
        background-size: cover;

        &--slider{
            width: 40px;
            height: 40px;
            background-image: url("../img/close-slider.svg");
            background-size: cover;
            z-index: 10;
        }
    }



    form{
       input{
            display: block;
            width: 208px;
            height: 56px;
            padding-left: 23px;
            border-radius: 130px;
            border: none;
            margin-bottom: 22px;
            outline: none;
            font-size: 16px;
            height: 56px;
            color: #7f7f7f;
            background-color: #ffffff;
            box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
             &:focus{
                border: solid 1px #f4a73e;
            }
        }

        span{
            display: block;
        }

       button{
            border: none;
       }

        div.wpcf7-response-output {
            color: #000;
        }
    }
}

.tournament-list{
    font-size: 0;
    margin-bottom: 40px;
    li{
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 25%;
        color: $grey;
        margin-bottom: 8px;
        &:before{
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 4px;
            height: 4px;
            border-radius:50%;
            background-color: $grey;
            margin-right: 20px;
            margin-left: 10px;
        }
    }
}

.slider{
    position: relative;
    &__img{
        height: 480px;
        width: 100%;
        margin-bottom: 25px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__caption{
      font-size: 20px;
      line-height: 1.4;
      color: #404040;
    }

    .owl-nav{

        .owl-prev, .owl-next{
            position: absolute;
            width: 40px;
            height: 160px;
            width: 78px;
            height: 196px;
            top: 160px;
        }
        .owl-prev{
            left: 20px;
            background-image: url("../img/chevron-left.svg");
            background-size: cover;
        }
        .owl-next{
            right: 20px;
            background-image: url("../img/chevron-right.svg");
            background-size: cover;
        }
    }
}

.thanks{
      font-size: 24px;
      font-weight: 600;
      line-height: 1.5;
      color: #404040;
      padding-top: 140px;
      margin-bottom: 10px;
      text-align: center;
}

.wecallyou{

      font-size: 16px;
      line-height: 1.25;
      color: #404040;
      width: 200px;
      text-align: center;
      margin: 0 auto;
}


#popup-advantages{
    .screen-reader-response{
        display: none;
    }
    .wpcf7-not-valid-tip{
        display: none;
    }
    button{
        margin-bottom: 10px;
    }
}

#popup-tournament{
    form{
        .wpcf7-form-control-wrap{
            width: auto;
        }
    }
    .screen-reader-response{
        display: none;
    }

    .wpcf7-not-valid-tip{
        display: none;
    }
}

#popup-buy{
     form{
        .wpcf7-not-valid-tip{
            display: none;
        }
     }
     .screen-reader-response{
        display: none;
    }

    .wpcf7-not-valid-tip{
        display: none;
    }
    button{
        margin-bottom: 10px;
    }
}