.price{
    text-align: center;

    &__item{
        border: solid 1px #979797;
        margin-bottom: 30px;

        &-title{
            font-size: 24px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            text-align: center;
            color: #fff;
            background-color: green;
            background-color: #226746;
            line-height: 60px;
            margin-bottom: 30px;
        }

        ul{
            text-align: left;
            margin: 0;
            padding: 0;
            list-style-type: disc;
            padding-left: 40px;
            min-height: 320px;
            li{
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.4;
                color: #404040;
                max-width: 280px;
                margin-bottom: 15px;
            }
        }

        &-price{
            line-height: 60px;
            font-size: 24px;
            font-weight: 600;
            color: #404040;
            border-top: solid 1px #979797;
        }
    }
}
