.tournament{
    position: relative;
    top: -200px;
    min-width: $wrapper-width;
    min-height: 800px;
    text-align: center;
    background-image: url("../img/tournament_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    margin-bottom: -200px;



    &:after{
        content: "";
        position: relative;
        z-index: 1;
        display: block;
        width: 100px;
        height: 240px;
        transform: scale(-1, 1);
        position: absolute;
        left: 60%;
        bottom: -10%;
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
    }

    .wrapper{
        position: relative;
        z-index: 1;
        top: 200px;
    }

    &__txt{
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
        width: 571px;
        margin-bottom: 37px;
    }

}